In [18]:
people={
    "first":["Corey","Jane","John"],
    "last":["Schafer","Doe", "Poe"],
    "email":["corey@gmail.com","Jane@gmail.com","john@gmail.com"]
}
import pandas as pd
df=pd.DataFrame(people)
df

   first     last            email
0  Corey  Schafer  corey@gmail.com
1   Jane      Doe   Jane@gmail.com
2   John      Poe   john@gmail.com

In [19]:
df['email']
#email made index
df.set_index('email')

                 first     last
email
corey@gmail.com  Corey  Schafer
Jane@gmail.com    Jane      Doe
john@gmail.com    John      Poe

In [20]:
df #index is still numerical

   first     last            email
0  Corey  Schafer  corey@gmail.com
1   Jane      Doe   Jane@gmail.com
2   John      Poe   john@gmail.com

In [21]:
df.set_index('email',inplace=True)

In [23]:
df

                 first     last
email
corey@gmail.com  Corey  Schafer
Jane@gmail.com    Jane      Doe
john@gmail.com    John      Poe

In [24]:
df.index

Index(['corey@gmail.com', 'Jane@gmail.com', 'john@gmail.com'], dtype='object', name='email')

In [26]:
df.loc['corey@gmail.com','last']

'Schafer'

In [27]:
df.iloc[0]

first      Corey
last     Schafer
Name: corey@gmail.com, dtype: object

In [35]:
df.reset_index(inplace=True)

In [36]:
df

             email  first     last
0  corey@gmail.com  Corey  Schafer
1   Jane@gmail.com   Jane      Doe
2   john@gmail.com   John      Poe

In [41]:
df=pd.read_csv('data/stackoverflowdata/survey_results_public.csv',index_col='ResponseId')

In [42]:
df

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73264,I am a developer by profession,"Employed, full-time",Fully remote,Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Udemy,8,5,...,30-60 minutes a day,Less than 15 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Easy,NaN
73265,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;Udacity,6,5,...,15-30 minutes a day,60-120 minutes a day,Very long,None of these,No,Yes,Yes,Too long,Easy,NaN
73266,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Programming Games;Stac...,Udemy;Codecademy;Pluralsight;edX,42,33,...,30-60 minutes a day,60-120 minutes a day,Just right,None of these,No,No,No,Appropriate in length,Easy,NaN
73267,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training,NaN,NaN,50,31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
73268,"I used to be a developer by profession, but no...","Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,Udemy;Pluralsight,16,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN

In [46]:
schema_df=pd.read_csv('data/stackoverflowdata/survey_results_schema.csv',index_col='qid')
schema_df

,qname,question,force_resp,type,selector
qid,,,,,
QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
QID296,Employment,Which of the following best describes your cur...,False,MC,MAVR
...,...,...,...,...,...
QID290,Frequency_2,Interacting with people outside of your immedi...,NaN,MC,MAVR
QID290,Frequency_3,Encountering knowledge silos (where one indivi...,NaN,MC,MAVR
QID294,TrueFalse_1,Are you involved in supporting new hires durin...,NaN,MC,MAVR
QID294,TrueFalse_2,Do you use learning resources provided by your...,NaN,MC,MAVR
QID294,TrueFalse_3,Does your employer give you time to learn new ...,NaN,MC,MAVR

In [50]:
schema_df.loc['QID2','question']

'Which of the following options best describes you today? Here, by "developer" we mean "someone who writes code." <b>*</b>'

In [51]:
#index sorted alpahbetically
schema_df.sort_index()

,qname,question,force_resp,type,selector
qid,,,,,
QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
QID100,SOVisitFreq,How frequently would you say you visit Stack O...,False,MC,MAVR
QID101,SOAccount,Do you have a Stack Overflow account?,False,MC,MAVR
QID102,SOPartFreq,How frequently would you say you participate i...,False,MC,MAVR
QID106,SOComm,Do you consider yourself a member of the Stack...,False,MC,MAVR
...,...,...,...,...,...
QID52,CompFreq,"Is that compensation weekly, monthly, or yearly?",False,MC,MAVR
QID6,Country,"Where do you live? <span style=""font-weight: b...",True,MC,DL
QID61,S3,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
QID71,OpSys,What is the primary <b>operating system</b> in...,False,Matrix,Likert
QID91,S4,"<span style=""font-size:22px; font-family: aria...",False,DB,TB